---
- name: Download k0s binary
  get_url:
    url: https://get.k0s.sh
    dest: /tmp/install_k0s.sh
    mode: '0755'

- name: Install k0s
  command: sh /tmp/install_k0s.sh
  args:
    creates: /usr/local/bin/k0s

# =========================
# COPY TOKEN Tá»ª CONTROLLER (IN-MEMORY)
# =========================
- name: Write worker token to node
  copy:
    content: "{{ hostvars[groups['k0s_controller'][0]].k0s_worker_token }}"
    dest: /tmp/k0s_worker.token
    mode: '0600'

- name: Install k0s worker
  command: k0s install worker --token-file /tmp/k0s_worker.token
  args:
    creates: /etc/systemd/system/k0sworker.service

- name: Start k0s worker
  systemd:
    name: k0sworker
    enabled: yes
    state: started
