- name: Apply RBAC for external Prometheus
  command: kubectl apply -f {{ item }}
  loop:
    - rbac/external-prometheus-rbac.yaml
    - rbac/external-prometheus-binding.yaml
  args:
    chdir: "{{ role_path }}/files"
  environment:
    KUBECONFIG: /etc/k0s/k0s.yaml
