apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: external-prometheus
rules:
  - apiGroups: [""]
    resources:
      - nodes
      - services
      - pods
      - endpoints
    verbs: ["get", "list", "watch"]

  - apiGroups: ["discovery.k8s.io"]
    resources:
      - endpointslices
    verbs: ["get", "list", "watch"]
